{% extends "master.html" %}
{% block title %}About{% endblock %}
{% block content %}
<div class="grid_16 header">
    <div class="context">
        <h1 class="text">About Catherine</h1>
    </div>
</div>
<div class="clear"></div>
<div class="grid_16 blurb">
    <div class="context">
        <div class="info image left clearfix">
            <img src="/resources/img/about.jpg">
            <div class="text">
                <div class="grid_8">
                    <p class="item">Flowers, design and creativity have always been Catherine's passion &ndash; plain and simple. With a sensibility born from the philosophy that florals are a work of art, she's collaborated with hundreds of brides for weddings of every shape and size.</p>
                    <p class="item">She's a nationally accredited designer and has been a member of the prestigious American Institute of Floral Designers for nearly 20 years.</p>
                    <p class="item">Named "Best Floral Designer" by the Riverfront Times in 2004, Catherine never rests on her impeccably placed laurels, and keeps focused on today’s trends and styles.</p>
                    <p class="item">She implemented the "Art in Bloom" program at the Saint Louis Art Museum, has had the honor of designing for the V.P. Ball, participated in the production teams for multiple floats in the 2012 Tournament of Roses Parade, and contributes a column about flowers to St. Louis Homes and Lifestyles magazine.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
