{% extends "master.html" %}
{% block title %}Gallery{% endblock %}
{% block content %}
<div class="grid_16 header">
    <div class="context">
        <h1 class="text">Gallery</h1>
    </div>
</div>
<div class="clear"></div>
<div class="grid_4 section">
    <h2 class="type">Wedding <span class="note">September 2010</span></h2>
    <div class="more arrow">
        <div class="context">Photographs Copyright <a href="http://www.claryphoto.com/" target="_blank">Clary Pfeiffer</a></div>
    </div>
</div>
<div class="clear"></div>
<div class="grid_16 gallery">
    <ul class="collection two-up">
        <li class="image"><img src="/resources/img/gallery/september/photo-1.jpg"></li>
        <li class="image last"><img src="/resources/img/gallery/september/photo-2.jpg"></li>
    </ul>
    <ul class="collection three-up">
        <li class="image"><img src="/resources/img/gallery/september/photo-3.jpg"></li>
        <li class="image"><img src="/resources/img/gallery/september/photo-4.jpg"></li>
        <li class="image last"><img src="/resources/img/gallery/september/photo-5.jpg"></li>
    </ul>
    <ul class="collection three-up">
        <li class="image"><img src="/resources/img/gallery/september/photo-13.jpg"></li>
        <li class="image"><img src="/resources/img/gallery/september/photo-15.jpg"></li>
        <li class="image last"><img src="/resources/img/gallery/september/photo-16.jpg"></li>
    </ul>
    <ul class="collection two-up">
        <li class="image"><img src="/resources/img/gallery/september/photo-6.jpg"></li>
        <li class="image last"><img src="/resources/img/gallery/september/photo-7.jpg"></li>
    </ul>
    <ul class="collection two-up">
        <li class="image"><img src="/resources/img/gallery/september/photo-8.jpg"></li>
        <li class="image last"><img src="/resources/img/gallery/september/photo-9.jpg"></li>
    </ul>
    <ul class="collection three-up">
        <li class="image"><img src="/resources/img/gallery/september/photo-10.jpg"></li>
        <li class="image"><img src="/resources/img/gallery/september/photo-11.jpg"></li>
        <li class="image last"><img src="/resources/img/gallery/september/photo-12.jpg"></li>
    </ul>
</div>
<div class="clear"></div>
<div class="grid_4 section">
    <h2 class="type">Wedding <span class="note">July</span></h2>
    <div class="more arrow">
        <div class="context">Photographs Copyright <a href="http://www.claryphoto.com/" target="_blank">Clary Pfeiffer</a></div>
    </div>
</div>
<div class="clear"></div>
<div class="grid_16 gallery">
    <ul class="collection one-up">
        <li class="image"><img src="/resources/img/gallery/july/photo-1.jpg"></li>
    </ul>
    <ul class="collection three-up">
        <li class="image"><img src="/resources/img/gallery/july/photo-2.jpg"></li>
        <li class="image"><img src="/resources/img/gallery/july/photo-3.jpg"></li>
        <li class="image last"><img src="/resources/img/gallery/july/photo-4.jpg"></li>
    </ul>
    <ul class="collection one-up">
        <li class="image"><img src="/resources/img/gallery/july/photo-5.jpg"></li>
    </ul>
    <ul class="collection three-up">
        <li class="image"><img src="/resources/img/gallery/july/photo-6.jpg"></li>
        <li class="image"><img src="/resources/img/gallery/july/photo-7.jpg"></li>
        <li class="image last"><img src="/resources/img/gallery/july/photo-8.jpg"></li>
    </ul>
</div>
<div class="clear"></div>
<div class="grid_4 section">
    <h2 class="type">Other Work</h2>
</div>
<div class="clear"></div>
<div class="grid_16 gallery">
    <ul class="collection two-up">
        <li class="image"><img src="/resources/img/gallery/other/photo-8.jpg"></li>
        <li class="image last"><img src="/resources/img/gallery/other/photo-9.jpg"></li>
    </ul>
    <ul class="collection three-up">
        <li class="image"><img src="/resources/img/gallery/other/photo-1.jpg"></li>
        <li class="image"><img src="/resources/img/gallery/other/photo-2.jpg"></li>
        <li class="image last"><img src="/resources/img/gallery/other/photo-3.jpg"></li>
    </ul>
    <ul class="collection one-up">
        <li class="image"><img src="/resources/img/gallery/other/photo-4.jpg"></li>
    </ul>
    <ul class="collection three-up">
        <li class="image"><img src="/resources/img/gallery/other/photo-5.jpg"></li>
        <li class="image"><img src="/resources/img/gallery/other/photo-6.jpg"></li>
        <li class="image last"><img src="/resources/img/gallery/other/photo-7.jpg"></li>
    </ul>
</div>
{% endblock %}
