{% extends "master.html" %}
{% block title %}Gallery{% endblock %}
{% block content %}
<div class="grid_16 header">
    <div class="context">
        <h1 class="text">Gallery</h1>
    </div>
</div>

{% include "partials/gallery/2013-08-001-cp-st-louis-mo.html" %}
{% include "partials/gallery/2010-09-001-cp-st-louis-mo.html" %}
{% include "partials/gallery/2011-07-001-cp-santa-fe-nm.html" %}
{% include "partials/gallery/2013-04-001-st-louis-mo.html" %}
{% include "partials/gallery/2013-06-001-st-louis-mo.html" %}
{% include "partials/gallery/2013-06-002-st-louis-mo.html" %}
{% include "partials/gallery/2013-10-006-st-louis-mo.html" %}
{% include "partials/gallery/2013-07-001-st-louis-mo.html" %}
{% include "partials/gallery/2013-09-001-st-louis-mo.html" %}
{% include "partials/gallery/2013-09-002-st-louis-mo.html" %}
{% include "partials/gallery/2013-10-001-st-louis-mo.html" %}
{% include "partials/gallery/2013-10-004-st-louis-mo.html" %}
{% include "partials/gallery/2013-10-005-st-louis-mo.html" %}
{% include "partials/gallery/2012-06-001-denver-co.html" %}
{% include "partials/gallery/2013-10-003-washington-dc.html" %}
{% include "partials/gallery/other-work.html" %}
{% endblock %}

