{% extends "master.html" %}
{% block title %}Welcome{% endblock %}
{% block content %}
<div class="grid_16 hero">
    <div class="context">
        <img src="/resources/img/hero.png">
    </div>
</div>
<div class="clear"></div>
<div class="grid_16 header">
    <div class="context">
        <h1 class="text">Romantic. Edgy. Simple. Vintage. Modern. Eclectic. Elegant. Extravagant.</h1>
    </div>
</div>
<div class="clear"></div>
<div class="grid_16 blurb">
    <div class="context">
        <div class="info image right clearfix">
            <img src="/resources/img/homepage-philosophy.jpg">
            <div class="text">
                <div class="grid_8">
                    <p class="item">Every bride's idea of her day is different.</p>
                    <p class="item">But no matter the theme or size of the wedding/event, Catherine insures every client's expectation is met and exceeded. She delivers personal service, flawless execution and has a true knack for balancing creativity with the tiniest of details.</p>
                    <p class="item">Catherine will work with you to create an end result that will wow you and your guests. One that reflects your unique style and event.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
