{% import 'partials/analytics.html' as analytics -%}
{% import 'partials/header.html' as header -%}
{% import 'partials/footer.html' as footer -%}
<!DOCTYPE HTML>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <title>Catherine Thoele Florals | {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/resources/css/styles.css">
    <link href='http://fonts.googleapis.com/css?family=Questrial|Italiana' rel='stylesheet' type='text/css'>
    <link rel="canonical" href="http://www.catherinethoeleflorals.com"/>
</head>
<body>
    <div class="container_16">
        {{ header.view(model) }}
        {% block content %}{% endblock %}
        {{ footer.view() }}
    </div>
    {{ analytics.view() }}
</body>
</html>
