<div class="clear"></div>
<div class="grid_4 section">
    <h2 class="type">Wedding <span class="note">Santa Fe, New Mexico</span></h2>
    <div class="more arrow">
        <div class="context">Photographs Copyright <a href="http://www.claryphoto.com/" target="_blank">Clary Pfeiffer</a></div>
    </div>
</div>
<div class="clear"></div>
<div class="grid_16 gallery">
    <ul class="collection one-up">
        <li class="image"><img src="/resources/img/gallery/2011-07-001/photo-1.jpg"></li>
    </ul>
    <ul class="collection three-up">
        <li class="image"><img src="/resources/img/gallery/2011-07-001/photo-2.jpg"></li>
        <li class="image"><img src="/resources/img/gallery/2011-07-001/photo-3.jpg"></li>
        <li class="image last"><img src="/resources/img/gallery/2011-07-001/photo-4.jpg"></li>
    </ul>
    <ul class="collection one-up">
        <li class="image"><img src="/resources/img/gallery/2011-07-001/photo-5.jpg"></li>
    </ul>
    <ul class="collection three-up">
        <li class="image"><img src="/resources/img/gallery/2011-07-001/photo-6.jpg"></li>
        <li class="image"><img src="/resources/img/gallery/2011-07-001/photo-7.jpg"></li>
        <li class="image last"><img src="/resources/img/gallery/2011-07-001/photo-8.jpg"></li>
    </ul>
</div>
