<div class="clear"></div>
<div class="grid_4 section">
    <h2 class="type">Wedding <span class="note">Denver, Colorado</span></h2>
</div>
<div class="clear"></div>
<div class="grid_16 gallery">
    <ul class="collection one-up">
        <li class="image"><img src="/resources/img/gallery/2012-06-001/photo-1.jpg"></li>
    </ul>
    <ul class="collection three-up">
        <li class="image"><img src="/resources/img/gallery/2012-06-001/photo-2.jpg"></li>
        <li class="image"><img src="/resources/img/gallery/2012-06-001/photo-3.jpg"></li>
        <li class="image last"><img src="/resources/img/gallery/2012-06-001/photo-4.jpg"></li>
    </ul>
    <ul class="collection two-up">
        <li class="image"><img src="/resources/img/gallery/2012-06-001/photo-5.jpg"></li>
        <li class="image last"><img src="/resources/img/gallery/2012-06-001/photo-6.jpg"></li>
    </ul>
    <ul class="collection three-up">
        <li class="image"><img src="/resources/img/gallery/2012-06-001/photo-7.jpg"></li>
        <li class="image"><img src="/resources/img/gallery/2012-06-001/photo-8.jpg"></li>
        <li class="image last"><img src="/resources/img/gallery/2012-06-001/photo-9.jpg"></li>
    </ul>
    <ul class="collection one-up">
        <li class="image"><img src="/resources/img/gallery/2012-06-001/photo-10.jpg"></li>
    </ul>
    <ul class="collection three-up">
        <li class="image"><img src="/resources/img/gallery/2012-06-001/photo-11.jpg"></li>
        <li class="image"><img src="/resources/img/gallery/2012-06-001/photo-12.jpg"></li>
        <li class="image last"><img src="/resources/img/gallery/2012-06-001/photo-13.jpg"></li>
    </ul>
</div>
