<div class="clear"></div>
<div class="grid_4 section">
    <h2 class="type">Wedding <span class="note">Saint Louis, Missouri</span></h2>
</div>
<div class="clear"></div>
<div class="grid_16 gallery">
    <ul class="collection two-up">
        <li class="image"><img src="/resources/img/gallery/2013-06-001/photo-01.jpg"></li>
        <li class="image last"><img src="/resources/img/gallery/2013-06-001/photo-02.jpg"></li>
    </ul>
    <ul class="collection three-up">
        <li class="image"><img src="/resources/img/gallery/2013-06-001/photo-03.jpg"></li>
        <li class="image"><img src="/resources/img/gallery/2013-06-001/photo-04.jpg"></li>
        <li class="image last"><img src="/resources/img/gallery/2013-06-001/photo-05.jpg"></li>
    </ul>
</div>
