<div class="clear"></div>
<div class="grid_4 section">
    <h2 class="type">Wedding <span class="note">Saint Louis, Missouri</span></h2>
    <div class="more arrow">
        <div class="context">Photographs Copyright <a href="http://www.claryphoto.com/" target="_blank">Clary Pfeiffer</a></div>
    </div>
</div>
<div class="clear"></div>
<div class="grid_16 gallery">
    <ul class="collection one-up">
        <li class="image"><img src="/resources/img/gallery/2013-08-001/photo-01.jpg"></li>
    </ul>
    <ul class="collection one-up">
        <li class="image"><img src="/resources/img/gallery/2013-08-001/photo-02.jpg"></li>
    </ul>
    <ul class="collection three-up">
        <li class="image"><img src="/resources/img/gallery/2013-08-001/photo-09.jpg"></li>
        <li class="image"><img src="/resources/img/gallery/2013-08-001/photo-10.jpg"></li>
        <li class="image last"><img src="/resources/img/gallery/2013-08-001/photo-11.jpg"></li>
    </ul>
    <ul class="collection two-up">
        <li class="image"><img src="/resources/img/gallery/2013-08-001/photo-03.jpg"></li>
        <li class="image last"><img src="/resources/img/gallery/2013-08-001/photo-04.jpg"></li>
    </ul>
    <ul class="collection three-up">
        <li class="image"><img src="/resources/img/gallery/2013-08-001/photo-12.jpg"></li>
        <li class="image"><img src="/resources/img/gallery/2013-08-001/photo-13.jpg"></li>
        <li class="image last"><img src="/resources/img/gallery/2013-08-001/photo-14.jpg"></li>
    </ul>
    <ul class="collection one-up">
        <li class="image"><img src="/resources/img/gallery/2013-08-001/photo-08.jpg"></li>
    </ul>
    <ul class="collection three-up">
        <li class="image"><img src="/resources/img/gallery/2013-08-001/photo-05.jpg"></li>
        <li class="image"><img src="/resources/img/gallery/2013-08-001/photo-06.jpg"></li>
        <li class="image last"><img src="/resources/img/gallery/2013-08-001/photo-07.jpg"></li>
    </ul>
</div>
