<div class="clear"></div>
<div class="grid_4 section">
    <h2 class="type">Other Work</h2>
</div>
<div class="clear"></div>
<div class="grid_16 gallery">
    <ul class="collection two-up">
        <li class="image"><img src="/resources/img/gallery/other/photo-8.jpg"></li>
        <li class="image last"><img src="/resources/img/gallery/other/photo-9.jpg"></li>
    </ul>
    <ul class="collection three-up">
        <li class="image"><img src="/resources/img/gallery/other/photo-1.jpg"></li>
        <li class="image"><img src="/resources/img/gallery/other/photo-2.jpg"></li>
        <li class="image last"><img src="/resources/img/gallery/other/photo-3.jpg"></li>
    </ul>
    <ul class="collection one-up">
        <li class="image"><img src="/resources/img/gallery/other/photo-4.jpg"></li>
    </ul>
    <ul class="collection three-up">
        <li class="image"><img src="/resources/img/gallery/other/photo-5.jpg"></li>
        <li class="image"><img src="/resources/img/gallery/other/photo-6.jpg"></li>
        <li class="image last"><img src="/resources/img/gallery/other/photo-7.jpg"></li>
    </ul>
</div>
