RewriteEngine On

RewriteRule ^/?$ /views/index.html [L]
RewriteRule ^about/?$ /views/about.html [L]
RewriteRule ^gallery/?$ /views/gallery.html [L]
RewriteRule ^testimonials/?$ /views/testimonials.html [L]
RewriteRule .* /views/index.html [L]
