$default-color:#3b3120;
$background-color: #fbf9f5;
$rose-color: rgba(20,220,243, 0.21);
$rose-color-solid:#c9e9e9;
$dark-red-color:#0b344d;
$hero-background-color:rgba(171, 163, 164, 0.33);
$hero-background-color-solid:#dfdbd4;
$link-red-color:#0b344d;
