body{
    @extend .font-questrial;
    color:$default-color;
    background:$background-color url($base-img-path+'/background-global.png');
}

.dotted-line-bottom{
    background: url($base-img-path+'/background-dots.png') repeat-x bottom left;
}
.dotted-line-top{
    background: url($base-img-path+'/background-dots.png') repeat-x top left;
}

.logo{
    padding-top:43px;
    padding-bottom:23px;
    .name{
        @extend .dotted-line-bottom;
        font-size:18px;
        padding-bottom:6px;
        margin-bottom:6px;
    }

    .description{
        @extend .font-italiana;
        font-size:16px;

        .phone{
            @extend .font-questrial;
            background:url($base-img-path+'/background-big-dot.png') no-repeat center left;
            font-size:14px;
            padding-left:7px;
        }
    }
}

.navigation{
    text-align:right;
    font-size:18px;
    padding-top:33px;

    .item{

        float:right;
        padding:10px 16px 0;
        height:45px;

        .action{
            @extend .dotted-line-bottom;
            text-decoration:none;
            color:$default-color;
            padding-bottom:11px;
        }

        &.home.selected{
            background:url($base-img-path + '/background-selected-home.png') no-repeat;
        }

        &.gallery{
            padding-right:20px;
            &.selected{
                background:url($base-img-path + '/background-selected-gallery.png') no-repeat;
            }
        }

        &.testimonials{
            padding-right:14px;
            padding-left:14px;
            &.selected{
                background:url($base-img-path + '/background-selected-testimonials.png') no-repeat;
            }
        }

        &.about{
            &.selected{
                background:url($base-img-path + '/background-selected-about.png') no-repeat;
            }
        }
    }
}

.header{
    @extend .font-italiana;
    @extend .dotted-line-top;
    font-size:24px;
    height:59px;
    padding-top:2px;
    padding-bottom:34px;
    width:900px !important;


    .context{
        @extend .dotted-line-bottom;
        padding-bottom:2px;
        .text{
            @include corner(10px);
            background-color:$rose-color-solid;
            background: $rose-color url($base-img-path + '/background-header.png') repeat-x;
            padding:12px;
            height:30px;
            color:$dark-red-color;
        }
    }
}


.blurb{
    @extend .dotted-line-top;

    padding-top:2px;
    padding-bottom:18px;
    width:900px !important;

    .context{

        @extend .dotted-line-bottom;
        padding-bottom:2px;
        position:relative;

        a{
            text-decoration:none;
            color:$link-red-color;
        }

        .info{
            background-color:$hero-background-color-solid;
            background-color:$hero-background-color;
            @include corner(10px);

            .quotation{
                padding-left:10px;
                clear:both;
                .name{
                    font-size:16px;
                }

                .label{
                    @extend .font-italiana;
                    font-size:14px;
                }
            }


            &.no-image{
                .grid_8{
                    width:820px;
                }
            }

            &.image{
                min-height:263px;
                >img{
                    width:364px;
                    height:263px;
                }
                .attribution{
                    position: absolute;
                    bottom: 0px;
                    background: rgba(255,255,255,0.7);
                    margin: 2px 0;
                    font-size: 10px;
                    width: 364px;

                    .text{
                        padding:2px 10px 2px 0px;
                        font-size:10px;
                        float:right;
                        a{
                            text-decoration:underline;
                            color:$default-color;
                        }
                    }
                }
                &.left{
                    >img{
                        @include corner(10px 0 0 10px);
                        position:absolute;
                        left:0;
                    }

                    .attribution{
                        @include corner(0 0 0 10px);

                    }

                    .text{
                        float:right;
                    }
                }

                &.right{
                    >img{
                        @include corner(0 10px 10px 0);
                        position:absolute;
                        right:0;
                    }

                    .attribution{
                        @include corner(0 0 10px 0);
                        right:0px;
                        .text{
                            float:right;
                        }
                    }

                    .text{
                        float:left;
                    }
                }
            }

            .text{

                padding:15px;
                font-size:14px;

                .item{
                    padding-bottom:10px;
                }
            }
        }
    }
}

.footer{
    font-size:14px;
    padding-bottom:20px;

    .note{

    }

    .contact{
        text-align:right;
    }
}
