<!DOCTYPE HTML>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <title>Catherine Thoele Florals | Welcome</title>
    <link rel="stylesheet" href="/resources/css/styles.css">
    <link href='http://fonts.googleapis.com/css?family=Questrial|Italiana' rel='stylesheet' type='text/css'>
    <link rel="canonical" href="http://www.catherinethoeleflorals.com"/>
</head>
<body>
    <div class="container_16">
        <div class="grid_6 logo">
    <dl>
        <dt class="name">Catherine Thoele, A.I.F.D.</dt>
        <dd class="description">Wedding and Event Florals <span class="phone">314.368.1244</span></dd>
    </dl>
    </div>
    <div class="grid_8 navigation">
        <ul>
            <li class="item about "><a class="action" href="/about/">About</a></li>
            <li class="item testimonials "><a class="action" href="/testimonials/">Testimonials</a></li>
            <li class="item gallery "><a class="action" href="/gallery/">Gallery</a></li>
            <li class="item home selected"><a class="action" href="/">Home</a></li>
        </ul>
    </div>
<div class="clear"></div>
        
<div class="grid_16 hero">
    <div class="context">
        <img src="/resources/img/hero.png">
    </div>
</div>
<div class="clear"></div>
<div class="grid_16 header">
    <div class="context">
        <h1 class="text">Romantic. Edgy. Simple. Vintage. Modern. Eclectic. Elegant. Extravagant.</h1>
    </div>
</div>
<div class="clear"></div>
<div class="grid_16 blurb">
    <div class="context">
        <div class="info image right clearfix">
            <img src="/resources/img/homepage-philosophy.jpg">
            <div class="text">
                <div class="grid_8">
                    <p class="item">Every bride's idea of her day is different.</p>
                    <p class="item">But no matter the theme or size of the wedding/event, Catherine insures every client's expectation is met and exceeded. She delivers personal service, flawless execution and has a true knack for balancing creativity with the tiniest of details.</p>
                    <p class="item">Catherine will work with you to create an end result that will wow you and your guests. One that reflects your unique style and event.</p>
                </div>
            </div>
        </div>
    </div>
</div>

        <div class="clear"></div>
    <div class="grid_16 footer">
        <p class="grid_7 note">Call or email to schedule a complimentary consultation for 2012 and 2013 weddings and events in the St. Louis area.</p>
        <p class="grid_8 contact">314.368.1244<br>ctflorals at gmail dot com</p>
</div>
    </div>
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-32909187-1']);
        _gaq.push(['_trackPageview']);

        (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
</script>
</body>
</html>